.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.forme{
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  padding: 10px;
  width: 50%;
  border: none;
}
.btn{
  color: white;
  background-color: rgb(27, 189, 175);
   border: none;
  padding: 10px 20px;
}
.liste{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}