.recipe{
box-shadow: 0px 0px 7px 3px rgba(188,109,219,1);
border-radius: 10px;
margin:20px;

display: flex;
flex-direction: column;

justify-content: space-around;

background-color: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
align-items: center;

min-width: 35%;
max-width: 35%;
font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

}
.image{
   border-radius: 50%;
    width: 150px;
    height: 150px;
}